meta(charset="utf-8")
meta(name="viewport" content="width=device-width,initial-scale=1")
meta(name="keywords" content="")
link(rel="stylesheet" type="text/css" href="static/css/styles.css")
title #{page_title}
