extends layout/layout

block head
  - var page_title= 'Каталог книг "По полочкам"'
  include modules/head

block content
  main.catalog-page
    include modules/breadcrumbs
    include modules/catalog/catalog
