extends layout/layout

block head
  - var page_title= 'Сайт с книгами "По полочкам"'
  include modules/head

block content
  main.index-page
    include modules/hero
    include modules/new-books/new-books
    include modules/best-books/best-books
    include modules/reviews/reviews
    include modules/about
