doctype html
html(lang='ru-RU')
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" type="text/css" href="./static/css/styles.css")
        title Книга "Железный король" из каталога книг "По полочкам"
    body
        .wrapper
            header.header
            .content
                main.catalog-page
            footer.footer
