extends layout/layout

block head
  - var page_title= 'Книга "Железный король" из каталога книг "По полочкам"'
  include modules/head

block content
  main.book-page
    include modules/breadcrumbs
    include modules/book/book
    include modules/reviews/critique
    include modules/recently-viewed/recently-viewed
